<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="AdminEntities" connectionString="metadata=res://*/dbAdmin.csdl|res://*/dbAdmin.ssdl|res://*/dbAdmin.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DEV10\SQLEXPRESS;initial catalog=db_Admin;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
    <add name="VatasSolutionEntities" connectionString="metadata=res://*/VatasSolution.csdl|res://*/VatasSolution.ssdl|res://*/VatasSolution.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DEV10\SQLEXPRESS;initial catalog=VatasSolution;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="mydatabase1Entities" connectionString="metadata=res://*/mydatabase1.csdl|res://*/mydatabase1.ssdl|res://*/mydatabase1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DEV10\SQLEXPRESS;initial catalog=mydatabase1;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    
    <!--<add name="mydatabase1Entities" connectionString="metadata=res://*/mydatabase1.csdl|res://*/mydatabase1.ssdl|res://*/mydatabase1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DEV10\SQLEXPRESS;initial catalog=mydatabase1;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="AdminEntities" connectionString="metadata=res://*/dbAdmin.csdl|res://*/dbAdmin.ssdl|res://*/dbAdmin.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DEV10\SQLEXPRESS;initial catalog=db_Admin;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="VatasSolutionEntities" connectionString="metadata=res://*/VatasSolution.csdl|res://*/VatasSolution.ssdl|res://*/VatasSolution.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DEV10\SQLEXPRESS;initial catalog=VatasSolution;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <!--<add name="AdminEntities" connectionString="metadata=res://*/dbAdmin.csdl|res://*/dbAdmin.ssdl|res://*/dbAdmin.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=122.160.61.236;initial catalog=db_Admin;User Id=sa;Password=sql,.12345;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="VatasSolutionEntities" connectionString="metadata=res://*/VatasSolution.csdl|res://*/VatasSolution.ssdl|res://*/VatasSolution.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=122.160.61.236;initial catalog=VatasSolution;User Id=sa;Password=sql,.12345;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
  </connectionStrings>
  <appSettings>
    <add key="ServiceURL" value="http://localhost:1147/"/>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
  </appSettings>
  <system.web>
    
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
    <authentication mode="Forms">
      <forms name=".VatasCookie" loginUrl="/Login" slidingExpiration="true" timeout="2880" protection="All" cookieless="UseCookies" />
    </authentication>
    <pages controlRenderingCompatibilityVersion="4.0">
      <namespaces>
        <add namespace="Vatas_Common"/>
        <add namespace="Vatas_Wrapper"/>
        <add namespace="Vatas_DAL"/>
      </namespaces>
    </pages>
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="true" />
    <modules runAllManagedModulesForAllRequests="true" />
    <defaultDocument enabled="true">
      <files>
        <clear />
        <add value="Login.aspx" />
      </files>
    </defaultDocument>
    <!--<httpErrors existingResponse="Replace" errorMode="Custom">
      <remove statusCode="404" subStatusCode="-1"/>
      <error statusCode="404" prefixLanguageFilePath="" path="/404" responseMode="ExecuteURL"/>
    </httpErrors>-->
    <staticContent>
      <remove fileExtension=".svg" />
      <remove fileExtension=".eot" />
      <remove fileExtension=".woff" />
      <remove fileExtension=".woff2" />
      <remove fileExtension=".otf" />
      <remove fileExtension=".ttf" />
      <mimeMap fileExtension=".svg" mimeType="image/svg+xml" />
      <mimeMap fileExtension=".eot" mimeType="application/vnd.ms-fontobject" />
      <mimeMap fileExtension=".woff" mimeType="application/x-woff" />
      <mimeMap fileExtension=".woff2" mimeType="application/font-woff2" />
      <mimeMap fileExtension=".otf" mimeType="application/x-font-opentype" />
      <mimeMap fileExtension=".ttf" mimeType="application/font-sfnt" />
    </staticContent>
  </system.webServer>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>