<html>
<head>
</head>
<body>
    <div>
        <table border=0 cellspacing=0 cellpadding=0 style='width:100%;'>
            <tr>
                <td valign=top style='padding:0in 0in 0in 0in'>
                    <div align=center>
                        <table border=0 cellspacing=0 cellpadding=0 width=940 style='width:940px'>
                            <tr>
                                <td valign=top style='padding:0in 0in 0in 0in'>
                                    <div align=center>
                                        <table border=0 cellspacing=0 cellpadding=0>
                                            <tr>
                                                <td valign=top style='padding:0in 0in 0in 0in'></td>
                                            </tr>
                                        </table>
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </div>
                    <p align=center style='text-align:center;font-weight: 900;font-size:20px;'>
                        Tax Invoice
                    </p>
                    <div align=center>
                        <table border=1 cellspacing=0 cellpadding=0 style='width:940px;background:white;'>
                            <tr>
                                <td style='border:none;padding: 0px;'>
                                    <div align=center>
                                        <table border=0 cellspacing=0 cellpadding=0 style='width:100.0%;line-height:10px;'>
                                            <tr>
                                                <td valign=top style='padding: 5pt;border-bottom: solid 1px black;border-right: solid 1px black;width:470px;'>
                                                    <p style="font-weight:bold">
                                                        BHARAT MAGO & CO.
                                                    </p>
                                                    <p>
                                                        127, M.B.D MARKET, NEAR NAAZ CINEMA , JALANDHAR
                                                    </p>
                                                    <p>
                                                        GSTIN/UIN: 03AAFFB0184R1ZC
                                                    </p>
                                                </td>
                                                <td valign=top style='padding:0pt;width:470px;'>
                                                    <table border=0 cellspacing=0 cellpadding=0 style='width:100.0%;line-height: 8px;'>
                                                        <tr>
                                                            <td valign=top style='padding: 5pt;border-bottom: solid 1px black;border-right: solid 1px black;'>
                                                                <p>
                                                                    Invoice No.
                                                                </p>
                                                                <p style="font-weight:bold">
                                                                    110
                                                                </p>
                                                            </td>
                                                            <td valign=top style='padding: 5pt;border-bottom: solid 1px black;'>
                                                                <p>
                                                                    Dated
                                                                </p>
                                                                <p style="font-weight:bold;">
                                                                    27-Oct-2017
                                                                </p>
                                                            </td>
                                                        </tr>
                                                    </table>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td valign=top style='padding: 5pt;border-right: solid 1px black;'>
                                                    <p>
                                                        Buyer
                                                    </p>
                                                    <p style="font-weight:bold">
                                                        KMV COLLEGE JALANDHAR
                                                    </p>
                                                    <p>
                                                        State Name : Punjab, Code : 03
                                                    </p>
                                                    <p>
                                                        GSTIN/UIN : 03AAAJK0681R1ZX
                                                    </p>
                                                </td>
                                            </tr>

                                        </table>
                                    </div>
                                    <div align=center>
                                        <table border=0 cellspacing=0 cellpadding=0 style='width:940px;border-top: solid 1px black;'>
                                            <tr>
                                                <td valign=top style='padding: 5pt;border-right: solid 1px black;border-bottom: solid 1px black;width:600px;text-align: center;'>
                                                    <p>
                                                        Particulars
                                                    </p>
                                                </td>
                                                <td valign=top style='padding: 5pt;border-right: solid 1px black;border-bottom: solid 1px black;width:150px;text-align: center;'>
                                                    <p>
                                                        HSN/SAC
                                                    </p>
                                                </td>
                                                <td valign=top style='padding: 5pt;width:150px;border-bottom: solid 1px black;text-align: center;'>
                                                    <p>
                                                        Amount
                                                    </p>
                                                </td>
                                            </tr>
                                            <tr style="height: 500px;line-height:10px;">
                                                <td valign=top style='padding: 5pt;border-right: solid 1px black;width:550px;'>
                                                    <p style="font-weight:bold;">
                                                        Professional Legal Charges
                                                    </p>
                                                    <p style="font-style: italic;">
                                                        Filling For GST Return July
                                                    </p>
                                                    <p style="font-style: italic;">
                                                        August and September 2017
                                                    </p>
                                                    <p style="font-weight:bold;">
                                                        CGST
                                                    </p>
                                                    <p style="font-weight:bold;">
                                                        SGST
                                                    </p>
                                                </td>
                                                <td valign=top style='padding: 5pt;border-right: solid 1px black;width:100px;text-align: center;'>
                                                    <p>
                                                        998212
                                                    </p>
                                                    <p>

                                                    </p>
                                                    <p>
                                                    </p>
                                                    <p>
                                                    </p>
                                                    <p>

                                                    </p>
                                                </td>
                                                <td valign=top style='padding: 5pt;width:100px;text-align: right;'>
                                                    <p style="font-weight:bold;">
                                                        4,500.00
                                                    </p>
                                                    <p>

                                                    </p>
                                                    <p>

                                                    </p>
                                                    <p style="font-weight:bold;">
                                                        405.00
                                                    </p>
                                                    <p style="font-weight:bold;">
                                                        405.00
                                                    </p>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td valign=top style='padding: 5pt;border-right: solid 1px black;border-top: solid 1px black;width:550px;text-align: right;'>
                                                    <p>
                                                        Total
                                                    </p>
                                                </td>
                                                <td valign=top style='padding: 5pt;border-right: solid 1px black;border-top: solid 1px black;width:100px;text-align: center;'>
                                                    <p>

                                                    </p>
                                                </td>
                                                <td valign=top style='padding: 5pt;width:100px;border-top: solid 1px black;text-align: right;'>
                                                    <p style="font-weight:bold;">
                                                        ₹ 5,310.00
                                                    </p>
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                    <div align=center>
                                        <table border=0 cellspacing=0 cellpadding=0 style='width:940px;border-top: solid 1px black;'>
                                            <tr>
                                                <td valign=top style='padding: 5pt;width:550px;'>
                                                    <p>
                                                        <span style="">Amount Chargeable (in words)</span>
                                                        <span style="float:right">E. & O.E</span>
                                                    </p>
                                                    <p style="font-weight:bold;">
                                                        Indian Rupees Five Thousand Three Hundred Ten Only
                                                    </p>
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                    <div align=center>
                                        <table border=0 cellspacing=0 cellpadding=0 style='width:940px;border-top: solid 1px black;'>
                                            <tr style="text-align:center">
                                                <td valign=top style='padding: 5pt;width:250px;border-right: solid 1px black;'>
                                                    <p style="line-height: 20px;font-size: 16px;">
                                                        HSN/SAC
                                                    </p>
                                                </td>
                                                <td valign=top style='padding: 5pt;width:100px;border-right: solid 1px black;'>
                                                    <p style="line-height: 20px;font-size: 16px;">
                                                        Taxable Value
                                                    </p>
                                                </td>
                                                <td valign=top style='border-right: solid 1px black;width:150px;'>
                                                    <p style="padding: 5pt;text-align:center;margin-bottom: 0px;border-bottom: solid 1px black;font-size: 16px;">
                                                        Central Tax
                                                    </p>
                                                    <div align=center>
                                                        <table border=0 cellspacing=0 cellpadding=0 style=''>
                                                            <tr>
                                                                <td valign=top style='padding: 5pt;width: 50%;border-right: solid 1px black;'>
                                                                    <p style="font-size: 16px;">
                                                                        Rate
                                                                    </p>
                                                                </td>
                                                                <td valign=top style='padding: 5pt;'>
                                                                    <p style="font-size: 16px;">
                                                                        Amount
                                                                    </p>
                                                                </td>
                                                            </tr>
                                                        </table>
                                                    </div>
                                                </td>
                                                <td valign=top style='border-right: solid 1px black;width:150px;'>
                                                    <p style="padding: 5pt;text-align:center;margin-bottom: 0px;border-bottom: solid 1px black;font-size:16px">
                                                        State Tax
                                                    </p>
                                                    <div align=center>
                                                        <table border=0 cellspacing=0 cellpadding=0 style=''>
                                                            <tr>
                                                                <td valign=top style='padding: 5pt;width: 50%;border-right: solid 1px black;'>
                                                                    <p style="font-size: 16px;">
                                                                        Rate
                                                                    </p>
                                                                </td>
                                                                <td valign=top style='padding: 5pt;'>
                                                                    <p style="font-size: 16px;">
                                                                        Amount
                                                                    </p>
                                                                </td>
                                                            </tr>
                                                        </table>
                                                    </div>
                                                </td>
                                                <td valign=top style='padding: 5pt;width:100px;'>
                                                    <p style="line-height: 20px;">
                                                        Total Tax Amount
                                                    </p>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td valign=top style='padding: 5pt;width:250px;border-right: solid 1px black;border-top: solid 1px black;'>
                                                    <p style="font-size: 16px;">
                                                        998212
                                                    </p>
                                                </td>
                                                <td valign=top style='padding: 5pt;width:100px;border-right: solid 1px black;border-top: solid 1px black;'>
                                                    <p style="text-align:right;font-size:16px;">
                                                        4,500.00
                                                    </p>
                                                </td>
                                                <td valign=top style='border-right: solid 1px black;width:150px;'>
                                                    <p style="padding: 5pt;text-align:center;margin-top: -7px;padding-top: 0px;    margin-bottom: 0px;border-bottom: solid 1px black;">
                                                    </p>
                                                    <div align=center>
                                                        <table border=0 cellspacing=0 cellpadding=0 style=''>
                                                            <tr>
                                                                <td valign=top style='padding: 5pt;width: 50%;border-right: solid 1px black;'>
                                                                    <p style="font-size: 16px;">
                                                                        9%
                                                                    </p>
                                                                </td>
                                                                <td valign=top style='padding: 5pt;text-align:right'>
                                                                    <p style="text-align:right;font-size:16px;">
                                                                        405.00
                                                                    </p>
                                                                </td>
                                                            </tr>
                                                        </table>
                                                    </div>
                                                </td>
                                                <td valign=top style='border-right: solid 1px black;width:150px;'>
                                                    <p style="padding: 5pt;text-align:center;margin-top: -7px;padding-top: 0px;    margin-bottom: 0px;border-bottom: solid 1px black;">
                                                    </p>
                                                    <div align=center>
                                                        <table border=0 cellspacing=0 cellpadding=0 style=''>
                                                            <tr>
                                                                <td valign=top style='padding: 5pt;width: 50%;border-right: solid 1px black;'>
                                                                    <p style="font-size: 16px;">
                                                                        9%
                                                                    </p>
                                                                </td>
                                                                <td valign=top style='padding: 5pt;text-align:right;font-size:16px;'>
                                                                    <p style="text-align:right;">
                                                                        405.00
                                                                    </p>
                                                                </td>
                                                            </tr>
                                                        </table>
                                                    </div>
                                                </td>
                                                <td valign=top style='padding: 5pt;width:100px;border-top: solid 1px black;'>
                                                    <p style="text-align:right;font-size:16px;">
                                                        810.00
                                                    </p>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td valign=top style='padding: 5pt;width:250px;border-right: solid 1px black;border-top: solid 1px black;'>
                                                    <p style="text-align:right;font-weight:bold;font-size:16px;">
                                                        Total
                                                    </p>
                                                </td>
                                                <td valign=top style='padding: 5pt;width:100px;border-right: solid 1px black;border-top: solid 1px black;'>
                                                    <p style="text-align:right;font-weight:bold;font-size:16px;">
                                                        4,500.00
                                                    </p>
                                                </td>
                                                <td valign=top style='border-right: solid 1px black;width:150px;'>
                                                    <p style="padding: 5pt;text-align:center;margin-top: -7px;    margin-bottom: 0px;padding-top: 0px;border-bottom: solid 1px black;">
                                                    </p>
                                                    <div align=center>
                                                        <table border=0 cellspacing=0 cellpadding=0 style=''>
                                                            <tr>
                                                                <td valign=top style='padding: 5pt;width: 50%;border-right: solid 1px black;'>
                                                                    <p>
                                                                    </p>
                                                                </td>
                                                                <td valign=top style='padding: 5pt;font-weight:bold;'>
                                                                    <p style="text-align:right;font-size:16px;">
                                                                        405.00
                                                                    </p>
                                                                </td>
                                                            </tr>
                                                        </table>
                                                    </div>
                                                </td>
                                                <td valign=top style='border-right: solid 1px black;width:150px;'>
                                                    <p style="padding: 5pt;text-align:center;margin-top: -7px;padding-top: 0px;    margin-bottom: 0px;border-bottom: solid 1px black;">
                                                    </p>
                                                    <div align=center>
                                                        <table border=0 cellspacing=0 cellpadding=0 style=''>
                                                            <tr>
                                                                <td valign=top style='padding: 5pt;width: 50%;border-right: solid 1px black;'>
                                                                    <p>
                                                                    </p>
                                                                </td>
                                                                <td valign=top style='padding: 5pt;font-weight:bold;'>
                                                                    <p style="text-align:right;font-size:16px;">
                                                                        405.00
                                                                    </p>
                                                                </td>
                                                            </tr>
                                                        </table>
                                                    </div>
                                                </td>
                                                <td valign=top style='padding: 5pt;width:100px;border-top: solid 1px black;'>
                                                    <p style="text-align:right;font-weight:bold;font-size:16px;">
                                                        810.00
                                                    </p>
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                    <div align=center>
                                        <table border=0 cellspacing=0 cellpadding=0 style='width:940px;height:100px; border-top: solid 1px black;'>
                                            <tr  style="height: 125px;">
                                                <td valign=top style='padding: 5pt;width:550px;'>
                                                    <p>
                                                        <span style="">Tax Amount (in words) : </span>
                                                        <span style="font-weight:bold">Indian Rupees Eight Hundred Ten Only</span>
                                                    </p>
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                    <div align=center>
                                        <table border=0 cellspacing=0 cellpadding=0 style='width:940px;'>
                                            <tr>
                                                <td valign=top style='padding: 5pt;width:470px;'>
                                                    <p>
                                                    </p>
                                                </td>
                                                <td valign=top style='padding: 5pt;width:470px;font-size: 16px;'>
                                                    <p style="    line-height: 5px;">
                                                        Company's Bank Details
                                                    </p>
                                                    <p style="    line-height: 5px;">
                                                        <span style="">Bank Name : </span>
                                                        <span style="font-weight:bold">Oriental Bank of Commerce CA 07701131001869</span>
                                                    </p>
                                                    <p style="    line-height: 5px;">
                                                        <span style="">A/c No. : </span>
                                                        <span style="font-weight:bold">07701131001869</span>
                                                    </p>
                                                    <p style="    line-height: 5px;">
                                                        <span style="">Branch & IFS Code : </span>
                                                        <span style="font-weight:bold">NAKODAR ROAD & ORBC0100770</span>
                                                    </p>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td valign=top style='padding: 5pt;width:470px;'>
                                                    <p>
                                                    </p>
                                                </td>
                                                <td valign=top style='padding:5pt 0pt 0pt 5pt;width:470px;'>
                                                    <div style="border-left:solid 1px black;border-top:solid 1px black;">
                                                        <p style="text-align:right;padding: 0pt 5pt 5pt 0pt;    margin-top: 0px;">
                                                            <span style=""></span>
                                                            <span style="font-weight:bold">for BHARAT MAGO & CO.</span>
                                                        </p>
                                                        <p style="text-align:right;padding: 5pt;">
                                                            <span style=""></span>
                                                            <span style="font-weight:bold">Authorised Signatory</span>
                                                        </p>
                                                    </div>
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </div>
                    <p align=center style='text-align:center;font-weight: 900;font-size:20px;'>
                        This is a Computer Generated Invoice
                    </p>
                </td>
            </tr>

        </table>

    </div>
</body>
</html>"